/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run jianhong/shotgun -profile test_full,<conda/docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '12.GB'
    max_time   = '8.h'

    // Input data for full size test
    input = "${projectDir}/assets/samplesheet_full.csv"
    kaiju_db = "${projectDir}/assets/test_data/kaiju_DEMO.tar.gz"
    kraken2_db = 'ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/old/minikraken2_v2_8GB_201904.tgz'
    humann_dna_db = "${projectDir}/assets/test_data/humann/chocophlan_DEMO"
    humann_pro_db = "${projectDir}/assets/test_data/humann/uniref90_DEMO"
    
    skip_centrifuge = true

    // Host genome references
    genome = 'hg38'
}
