/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run jianhong/shotgun -profile test_full,<conda/docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '48.GB'
    max_time   = '24.h'

    // Input data for full size test
    // input = 'https://raw.githubusercontent.com/jianhong/shotgun/main/assets/samplesheet_full.csv'
    input = "${projectDir}/assets/samplesheet_full.csv"

    // Host genome references
    genome = 'hg38'
}
