/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run jianhong/shotgun -profile test,<conda/docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '4.h'

    // Input data, change the samplesheet to path/to/your/file
    input = "${projectDir}/assets/samplesheet.csv"

    // Host genome references
    genome = 'hg38'

    // adjust or remove the following lines for real data
    kaiju_db = "${projectDir}/assets/test_data/kaiju_DEMO.tar.gz"
    skip_kaiju = true
    humann_dna_db = "${projectDir}/assets/test_data/humann/chocophlan_DEMO"
    humann_pro_db = "${projectDir}/assets/test_data/humann/uniref90_DEMO"
    skip_kraken2 = true
    skip_motus = true
    skip_centrifuge = true
}

process{
    withName: KAIJU_RUN {//use MEM model to reduce the memory cost for test run.
        ext.args   = '-v -a mem'
        publishDir = [
            path: { "${params.outdir}/kaiju/bySamples" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }
}
